# =========================
# Java / Maven
# =========================
target/
*.class

# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# IDE
# =========================
.idea/
*.iml
.vscode/
*.code-workspace

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs
# =========================
*.log